extends layout


block content



    div.row
        div.col-md-2
        div.col-md-8
            h1= title
            p= copyright
            <img width="60" src="/logo/scn.png" title="logo" alt="logo">
        div.col-md-2
